*{
	box-sizing: border-box;
}
body{
	margin: 0;
}
.container{
	width: 95%;
	margin:0 auto;
}
.flex{
	display: flex;
	align-items: center;
}
h1{
	text-align: center;
}
img{
	max-width: 100%;
}
.back a{
	color:#000;
}
/*Top*/
.top{
	background-color: #ddd;
	padding:1em 0;
}
/*Products*/
.products .container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 1em;
	/*grid-row-gap: 1em;*/
}
/*Card*/
.product-card{
	width:95%;
	padding:0.5em;
	/*border:1px solid green;*/
	margin: 1em 0;
	font-size:1.2rem;
	box-shadow: 1px 1px 5px 0.3px darkgray;
}
.product-image{
	/*border:1px solid red;*/
	max-height: 5em;
	max-width: 5em;
}
/*Desc Part*/
.name{
	font-weight: bold;
	font-size:0.9rem;
	/*border:1px solid blue;*/
	width:50%;	
	padding:0 0.3em;
}
.quantity,.cost{
	/*border:1px solid green;*/
	font-size: 1rem;
	padding:0 1em;
}
/*Cross*/
.remove-icon{
	/*border:1px solid red;*/
	/*margin-right: 1em;*/
	/*justify-self:flex-end; */
	background-image: url('../Assets/Icons/close.svg');
	background-repeat: no-repeat;
	background-size: 1.5em;
	height: 1.5em;
	width:2em;
	background-origin: center;
	cursor: pointer;
}
.remove-icon:hover{
	background-image: url('../Assets/Icons/closered.svg');
}
/*Order Button*/
.order-button{
 	background-color: #210B61;
	color:#ECCD04;
	width: 20%;
	padding: 0.5em 1em;
	margin:0 40%;
	/*border:0;*/
	border-radius: 5px;
	font-weight: bold;
}
.order-button:hover{
  cursor: pointer;
  color: #210B61;
  background-color:#ECCD04;
}