footer{
  margin-bottom: 1.5em;
}
.face-icon{
    background:url('../Assets/Icons/facebook-icon.svg');
}
.insta-icon{
    background:url('../Assets/Icons/instagram.svg'); 
}
.twitter-icon{
    background:url('../Assets/Icons/twitter.svg');   
}
.linkedin-icon{
    background:url('../Assets/Icons/linkedin.svg'); 
}

.social-icon{
    background-size:2em;
    background-repeat: no-repeat;
    width: 2em;
    height:2em;
}
.footer-icon{
    background-size:1.5em;
    background-repeat: no-repeat;
    width: 1.5em;
    height:1.5em; 
}
.phone,.place,.email{
  justify-content: center;
  /*border:1px solid red;*/
}
.place{
  width: 80%;
  margin:0 auto;
}
.location-icon{
  background:url('../Assets/Icons/location.svg');
}
.phone-icon{
  background:url('../Assets/Icons/phone.svg');
}
.email-icon{
  background:url('../Assets/Icons/email.svg');
}
.contact-icons{
  /*border:1px solid red;*/
    background-size:1.5em;
    background-repeat: no-repeat;
    width: 1.5em;
    height:1.5em; 
}
footer {
    margin-top:5em;
    width: 100%;
    background-color: #f1f1f1;
    padding:1em 0;
    text-align: center;
}
.social{
    padding:1em 0;
    width: 60%;
    margin:0 auto;
    cursor: pointer;
}
form label{
    display: block;
    /*border:1px solid red;*/
    text-align: left;
    width:30%;
}
.input{
    width:60%;
    padding:0.5em;
    border-radius:5px;
}
.submit{
  margin-top:1em;
  width:70%;
  padding:0.3em 0.5em;
  cursor: pointer;
}
.search-item{
  color:#000;
}

@media (min-width: 1150px){
  /*Footer*/
  .footer-container{
    display: flex;
    justify-content: space-between;
  }
  .left-box{
      /*border: 1px solid red;*/
      line-height: 1.5em;
      width:40%;
      justify-content: flex-start;
  }
  .center-box{
      justify-content: center;   
      /*border:1px solid blue;*/
      width:40%;
  }
  form label{
    display: block;
    /*border:1px solid red;*/
    text-align: left;
    width:22%;
  }
  form div{
    padding:0.5em 0;
  }
  .input{
    width:60%;
  }
  .right-box{
    width:40%;
    /*border: 1px solid green;*/
    justify-content: flex-end;
  }
  .submit{
    margin-top:1em;
    width:50%;
    padding:0.3em 0.5em;
    cursor: pointer;
  }
  .social{
    width: 20%;
    cursor: pointer;
  }
  
}
