/*Common Code*/
*{
	box-sizing:border-box; 
}
body{
	font-size: 16px;
	margin: 0;
}
input,label,span{
	display: block;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
	color:#000;
}
.container{
	width:90%;
	margin:0 auto;
	/*border: 1px solid yellow;*/
}
.flex{
	display: flex;
	align-items: center;
}
.flex-space{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hide{
	display: none;
}
button{
	outline: none;
}
.down-icon{
	background: url('../Assets/Icons/arrow-down.svg');
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
.up-icon{
	background: url('../Assets/Icons/arrow-up.svg');
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
.optional-area{
	padding: 0.5em 0;
	cursor: pointer;
}
.hide-eye{
	background: url('../Assets/Icons/hide.svg');
	/*filter:invert(100%);*/
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;	
}
.show-eye{
	background: url('../Assets/Icons/show.svg');
	/*filter:invert(100%);*/
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;	
}
.password-container .input-box{
	border:0;
}
.error{
	color:red;
	font-size:0.8rem;
	/*border:1px solid yellow;*/
	width:90%; 
	text-align: left;
	margin-top:0.3em;
}
.signup-password-error{
	
	font-size: 0.8rem;
}
@media (min-width: 700px){
	/*Nav Bar*/
	header{
		width:100%;
		background-color: skyblue;	
	}
	nav{
		width:50%;
		/*border:1px solid red;*/
	}
	.nav-list{
		/*border:1px solid blue;*/
	}
	.nav-list-primary{
		/*border:1px solid red;	*/
	}
	.nav-list-secondary{
		/*border:1px solid blue;*/
		justify-content: flex-end;
	}
	.nav-item + .nav-item{
		margin-left:1em;
	}
	.nav-link-button{
		background-color: darkgreen;
		color:#FFF;
		padding: 0.3em;
	}
	/*Forms*/
	button:disabled{
		color:red;
		cursor: not-allowed;
	}
	.background{
		background-image:url('../Assets/Images/loginback2.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		/*background-color: #DCDCDC;*/
		width:100%;
		height: 100.5vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.input-box{
		margin:0;
		margin-bottom: 1em;
		width: 100%;
		padding:0.3em;	
	}
	.password-container{
		/*border:1px solid green;*/
		border-radius: 5px;
		background-color: #fff;
	}
	.password-container .input-box{
		width: 85%;
		margin:0;
	}
	.password-container div{
		width: 3em;
		height:2.4em;
		border:0;
		right: 0;
		margin-left:0.5em; 
		/*position: absolute;*/
	}
	.input-label{
		font-size: 0.8rem;
		text-align:left;
		padding: 0.3em 0;
	}
	.already,.new{
		border:0;
		background:transparent;
		color:#FFF;
		padding: 1em 0;
		cursor: pointer;
	}
	h1{
		text-align: center;
		color:#FFF;
	}
	.submit{
		width: 80%;	
		justify-content: center;
		color:#00FF00;
		cursor:pointer;
		margin-top: 0.3em;
	}
	.submit-button{
		margin-top: 2em;
	}
	/*Sign Up Part*/
	.signup-area, .login-area{
		/*border:1px solid red;*/
		max-width: 35%;
		box-shadow: 5px 5px 5px 0 #000;
		padding: 1em 6em;
		background:rgba(0,0,0,0.8);
		color:#FFF;
	}
	.signup-form,.login-form{
		text-align: center;
	}
	/*Login Part*/
}